.img {
    height: 105px;
    width: 105px;
    
    
    
    }
    
    header {
    
        font-style: unset;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #34294A    ;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        font-size: 20px;
        z-index: 999999;
    
    
    }
    
    .snus {
        position: absolute;
        top: 35px;
        right: 50px;
    
    
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    a:hover {
        text-decoration: none;
        color: rgb(248, 170, 0);
    }
    
    a:active {
        font-weight: 700;
        font-size: 18px;
    }
    
    .bebra {
        position: absolute;
        top: 35px;
        right: 1100px;
    
        }
    
    .bebra2 {
    
            position: absolute;
            top: 35px;
            right: 800px;
            color: grey;
    
            }
    
            .nnn {
                background-color: #34294A    ;
                position: absolute;
                top: 100px;
                left: 0px;
                width: 100%;
                height: 600px;
                opacity: .4;
    
            }
    
    .sss {
     
        background: url(https://images2.alphacoders.com/739/739164.jpg);
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100%;
        height: 600px;
        
        
        
    
            }
    
         
    
    
    .ggg {
     
        background: url(https://img.freepik.com/vector-gratis/conexion-red-global-composicion-puntos-lineas-mapa-mundial_41981-1657.jpg?w=1060);
        position: absolute;
        top: 700px;
        left: 0px;
        width: 100%;
        height: 650px;
        opacity: .4;
    
            }
    
    
    .rrr {
    
        position: absolute;
        top: 160px;
        left: 12%;
        font-size: 60px;
        font-style: unset;
        color: white;
        opacity: 1;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    
    
    }
            
    
    .ttt {
    
        position: absolute;
        top: 1000px;
        left: 12%;
        font-size: 60px;
        font-style: unset;
        color: black;
        opacity: 1;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    
    
    }
    

    footer {
        font-style: unset;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #34294A    ;
        color: white;
        position: absolute;
        top: 800px;
        left: 0px;
        width: 100%;
        height: 90px;
        font-size: 20px;
        z-index: 9;
    
    
    }


 
    
    .bustt {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        position: absolute;
        top: 805px;
        left: 44%;
        z-index: 10;
    
    }
    
    
    .eee {
        position: absolute;
        width: 230px;
        height: 100px;
        background-color: #34294A    ;
        opacity: .8;
        top: 280px;
        left: 48%;
    
    
    }




.poisk {
position: absolute;
top: 123px;
right: 50px;
 

z-index: 9999;



}
    
.tty {

    font-style: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#34294A ;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 20px;
     z-index: 999;



}



.jkk {

position: absolute;
left: 30%;
top: 300px;
font-size: 50px;
font-style: unset;
color: black;
opacity: 1;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
z-index: 999;




}


.gfg {

background-image: url(https://i.pinimg.com/originals/95/16/47/951647eb9966af98cf52b2f75766b47b.jpg);
position: absolute;
top: 10px;
left: 0px;
width: 100%;
height: 800px;
opacity: .8;
z-index: 1;



}